
  


	<%= form_with(model: @company, local: true) do |form| %>
	
	  <% if @company.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        <%= pluralize(@company.errors.count, "error") %> prohibited
	        this company from being saved:
	      </h2>
	      <ul>
	        <% @company.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
	  
	  
	  
<div class="container">
  <p>
    <%= form.label :prename %><br>
    <%= form.text_field :prename %>
  </p>
 
  <p>
    <%= form.label :company_name
 %><br>
    <%= form.text_field :company_name
 %>
  </p>
 
  <p>
    <%= form.label :regtype %><br>
    <%= form.text_field :regtype %>
  </p>

  <p>
    <%= form.label :streeta %><br>
    <%= form.text_field :streeta %>
  </p>

  <p>
    <%= form.label :streetb %><br>
    <%= form.text_field :streetb %>
  </p>

  <p>
    <%= form.label :streetc %><br>
    <%= form.text_field :streetc %>
  </p>

  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>

  <p>
    <%= form.label :region %><br>
    <%= form.text_field :region %>
  </p>

  <p>
    <%= form.label :postcode %><br>
    <%= form.text_field :postcode %>
  </p>



  <div class="field">
    <%= form.label :country_id %><br />
    <%= form.collection_select :country_id, Country.order(:name), :id, :name, include_blank: true %>
  </div>


  <p>
    <%= form.submit %>
  </p>
<% end %>

</div>



<%= link_to 'companies List', companies_path %>